{% extends "layout.html" %}

        {% block content %}
       
        <center><h1 style="color:white";>Hola somos el servidor corsair y te damos la bienvenida!</h1></center>
        <center><h2 style="color:white";>Nos preocupa tu bienestar y nos gusta añadir</center></h2><center><h2 style="color:white";> gente nueva, manda tu solicitud!</h2></center>
        <center><a class="img index" href="/"><img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/CC-Update-Part-II_600x360.jpg" width="400px" height="250px"></a></center>
        <center><h5 style="color:white";>Estos son los mejores servidores que hay disponibles actualmente para todo tipo de jugadores en Minecraft. Si quieres disfrutar y pasártelo en grande, ¡te los recomendamos!</h5></center>
        <br>
        <h5 style="color:white";>Desde su lanzamiento, Minecraft ha crecido hasta convertirse en uno de los títulos más populares y jugados del mundo gracias a su comunidad tan dedicada. Son los jugadores los que han dado forma a universos increíbles, mundos maravillosos y creaciones en las que perderse durante decenas de horas.

            A día hoy hay miles y miles de servidores disponibles para jugar a Minecraft, pero, ¿cuáles son los mejores? Escoger los más destacados es algo prácticamente imposible. No obstante, en esta entrada de nuestra guía completa queremos mostrarte algunos de los mejores servidores de Minecraft que existen actualmente, los más llamativos y exitosos entre la comunidad de jugadores. ¿Listo?</h5>
            <br>
            <center><h5 style="color:white";>Mineplex</center>
                <center><a class="img index" href="/"><img src="https://media.vandal.net/i/620x348/11-2021/2021111914275477_1.jpg" width="400px" height="250px"></a></center>
                <h5 style="color:white";>Dirección IP: eu.mineplex.com</h5>
                <h5 style="color:white";>Tipo de servidor: supervivencia.</h5>
                <h5 style="color:white";>Mineplex es posiblemente el servidor más grande que existe en Minecraft, y eso lo convierte directamente en unos de los mejores. Está poblado por miles de jugadores en cualquier momento del día y la cantidad de cosas para hacer en él es abrumadora (hasta existe un minijuego dentro de este servidor llamado Minekart que recrea las carreras de Mario Kart).
                
                Su comunidad de jugadores es excelente y garantiza que siempre tendrás personas con las que compartir un rato de tu tiempo. Es prácticamente como un MMO de gran calidad.</h5>
                <br>
                <center><h5 style="color:white";>Grand Theft Minecart</center>
                    <center><a class="img index" href="/"><img src="https://media.vandal.net/i/620x348/11-2021/2021111914275477_3.jpg" width="400px" height="250px"></a></center>
                    <h5 style="color:white";>Dirección IP: topg.gtm.network</h5>
                    <h5 style="color:white";>Tipo de servidor: supervivencia.</h5>
                    <h5 style="color:white";>Sí, es lo que estás pensando. Grand Theft Minecart es un servidor de Minecraft que se inspira en los juegos de mundo abierto y, especialmente, en la saga GTA de Rockstar. Aquí podrás visitar la ciudad de MineSantos, saquear cofres, matar a cualquiera que se interponga en tu camino y huir de la policía por las calles para ver el sol un día más.

                        Armas, vehículos, apartamentos, un sistema de niveles e incluso la opción de formar pandillas y convertirte en todo un señor del crimen. Las oportunidades son ilimitadas en este loco servidor.
                        
                        </h5>
                        <br>
                        <center><h5 style="color:white";>PixelmonCraft</center>
                            <center><a class="img index" href="/"><img src="https://media.vandal.net/i/620x348/11-2021/2021111914275477_6.jpg" width="400px" height="250px"></a></center>
                            <h5 style="color:white";>Dirección IP: server.pixelmoncraft.com</h5>
                            <h5 style="color:white";>Tipo de servidor: RPG (recreación de Pokémon).</h5>
                            <h5 style="color:white";>Cuando la gente dice que en Minecraft se puede hacer de todo, no es una exageración. PixelmonCraft es uno de los mejores ejemplos de esto mismo. Este servidor usa el popular mod de Pixelmon, basado en los videojuegos de la franquicia Pokémon, y se convierte en un espacio multijugador para amantes de la saga de Nintendo en el que podemos visitar una recreación de las regiones de Kanto y Johto.

                                La recreación es tan increíble que no solo los pueblos y rutas se reconocen fácilmente, sino que también los animales son remplazados por Pokémon que se pueden atrapar y usar en combates. También hay líderes de gimnasio, objetos y mucho más. Sí... es increíble.
                                
                                
                                </h5>
                                <br>
            {% endblock %}   
         
