{% extends "layout.html" %}
{% block content %} 


<section class="section-class">
    <section class="articles">
       
        <article>

<center><h2>Reglas del juego</h2></center>
<br>
<p>
 <center><img class="logo" src="/static/Imag/img1.jpg"  width="400px" height="300px"></center>

</p>
<head>
    <meta charset="UTF-8">
        <title>minecraft</title>
        <link rel="stylesheet"href="estilos.css">
    </head>
<header>
    

 <br>
 <ul>
  
 <center><li>Tratar bien el juego
 <li>Deja que todos interactúen con el juego
<li>Deja que cada quién juegue su turno
<li>evita que el juego promueva violencia, sexo explícito o conductas inadecuadas
<li>Establece horarios de juego que no interfieran otras actividades más importantes. (actividades familiares, académicas, horarios para comer y dormir)
<li>Anticipa el momento de “corte” o término del juego.
<li>Compensa el tiempo de juego con actividad física, u otros hobbies offline. </center>
    
         
        
        
 </ul>
 <br>
 <center><img class="logo" src="/static/Imag/img2.jpg"  width="400px" height="200px"></center>



</form>
</article>
</section>
 {% endblock %}